[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=QmidiCtl
Version=1.0
Comment=MIDI Remote Controller via UDP/IP Multicast
Comment[fr]=Contrôleur MIDI distant via UDP/IP Multicast
Exec=qmidictl
Icon=org.rncbc.qmidictl
Categories=Audio;AudioVideo;Midi;X-Alsa;Qt;
Keywords=MIDI;Multicast;Network;UDP;IP;Qt;
StartupWMClass=qmidictl
X-Window-Icon=qmidictl
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
