[Desktop Entry]
Encoding=UTF-8
Version=0.6
Type=Application
Name=qmidictl
Exec=/usr/bin/qmidictl
Icon=qmidictl
StartupWMClass=qmidictl
X-Window-Icon=qmidictl
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
